.navlist{
    display: flex;
    margin: 0px;
    flex-direction: row;
    position: sticky;
    top:0px;
    background-color:black;
    height:90px;
}

body{
    margin: 0px ;
    background-image: url(matt-gross-9aCkSl6YcXg-unsplash.jpg);
    background-size:2000px 2200px;
    background-repeat: no-repeat;
    
}
img{
    margin-top: 50px;
    margin-left:38%;
    
    
}
.right{
    margin-left:30px;
    margin-right:30px;
    width:1500px;
   margin-top: 20px;
   height: 60px;
   background-color:whitesmoke;
   background-image: linear-gradient(to left, rgb(134, 175, 180) , rgb(221, 232, 235));
   align-content: center;
   border: 2px solid;
    border-color:rgb(170, 235, 240);
}
.right a{
    padding-inline:97px;
    height: 20px;
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: 530;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 5px  ;
    
}
.content{
    color:white;
    margin-left:30%;
    margin-top: 40px;
    margin-right: 30%;
    font-family: cursive;
    font-size: larger;
}
.name{
    color:rgb(111, 189, 209);
    margin-left:30%;
    margin-top: 35px;
    font-size:large;
}

.events{
    background-image: url(123.jpeg);
    background-size:  1100px ;
    color:rgb(111, 189, 209);
    margin-left: 9%;
    margin-top: 6%;
    margin-right: 9%;
    
}
.describe{
    color: white;
   justify-content: center;
   height:100px;
   width: 1250px;
   font-size: larger;
   display: inline-block;
}
.heading{
    margin-left: 45%;
    display: inline;
    font-style:normal;
    text-decoration-line: underline;
}
.details{
    color:rgb(111, 189, 209);
    margin-left:35%;
    margin-top: 5%;
    margin-bottom: 50px;
    display: inline-block;
    width:550px;    
    height: 300px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;

}

.data{
    
    column-span: all;
    
}
input{
    width:350px;
    height:35px;
}
.right a:hover{
    color:rgb(57, 52, 52)
}
.btn{
    height:30px;
    width:120px;
    margin:5px;
}
.btn:hover{
    color:rgb(50, 64, 64);
}
